$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;

// Set text color based on background

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

//margin and padding

$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // classes all around margin

  .m-#{$space} {
    margin: #{$space}rem;
  }
  //vertical margin
  .my-#{$space} {
    margin: #{$space}rem
      0; //because of 0(for left and right) it means just top and bottom
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
